# macOS
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Coverage directory generated when running tests with coverage
coverage

# Dependencies
node_modules/

# Node version directives
.nvmrc
.tool-versions

# dotenv environment variables file
.env
.env.test

# Build output
dist
dist-types

# Temporary change files created by Vim
*.swp

# MkDocs build output
site

# Sensitive credentials
*-credentials.yaml

# IDE
.idea/
.vscode/

# Local files
github-apps-prod-bkp.yaml
private-key.pem

/build
cd.private-key.pem
