project: 
  fullPath: \"CxServer/TechCross/REPO_NAME\"
  origin: "Tekton"
sast: 
  configuration: "Default Configuration"
  excludeFolders: \"test, migration, migrations, docs, docker-local, docker\"
  includeExcludePatterns: \"!**/*standAlone.ts,!**/standaloneServer.ts\"
  incremental: true
  preset: "TypeScript"