body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.input {
    padding: 15px;
    border-radius: 10px;
    border: 2px solid salmon;
    resize: none;
    width: 260%;
    height: 60%;
}

.input:focus {
    outline: none;
}